<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Review Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <style>
        body,
        html {
            height: 100%;
        }

        main {
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:about' %}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                        </li>
                        <a class="btn btn-link" href="#">({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                                <input type="password" class="form-control" placeholder="Password" name="psw">
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1>Add a review for dealer {{dealer_id}}</h1>
            <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label>Enter the review</label>
                <textarea
                  class="form-control"
                  id="content"
                  name="content"
                  row="2"
                  placeholder="Add review"
                  required
                >
                </textarea>
              </div>
              <div class="form-group">
                <label>Did you purchased here?</label>
                <input
                  style="margin-left: 10px"
                  class="form-check-input"
                  type="checkbox"
                  name="purchasecheck"
                  id="purchasecheck"
                />
              </div>
              <div class="form-gourp">
                <label>Select your car</label>
                <select name="car" id="car" class="form-select" required>
                  {% for car in cars %}
                  <option selected value="{{car.id}}">
                    {{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Select the date</label
                ><input
                  class="date-own form-control"
                  type="date"
                  name="purchasedate"
                  id="purchasedate"
                  placeholder="Purchase date"
                />
              </div>
        
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <script type="text/javascript">
        $('.date-own').datepicker({
        format: 'mm/dd/yyyy',
        });
    </script>
</body>

</html>